# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/
*.env

# Django
*.sqlite3
db.sqlite3
*.log
traffic_logs/
*.pot
*.pyc

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Static files
/staticfiles/
/static/
media/

# Coverage reports
htmlcov/
.coverage

# Node / frontend (if using npm/yarn)
node_modules/
npm-debug.log
yarn-error.log
